
.section-box{
    display: flex;
    flex-direction: row;
    column-gap: 297px;
    align-items: center;
    justify-content: center;
}


.section-text{
    display: flex;
    flex-direction: row;
    column-gap: 350px;
    align-items: center;
    justify-content: center;
}


.section-title{
    width: 123px;
font-family: 'Gilroy-Bold';
font-size: 47.3392px;
line-height: 59px;

/* Black */

color: #070707;
}

.section-subtitle{
    font-family: 'Gilroy-Medium';
font-size: 18px;
line-height: 22px;

/* Black */
width: 155px;
color: #070707;
}

.section-info{
    font-family: 'Gilroy-Bold';
font-size: 16px;
line-height: 20px;

color: #828282;

transform: rotate(-90deg);
}
.img{
    width: 943.61px;
    height: 387px;
}

.section-box2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-case{
    display: flex;
    flex-direction: column;
    row-gap: 49.67px;
    align-items: center;
    justify-content: center;
    margin-bottom: 104px;
}
.burger{
    display: none;
}
@media (max-width: 910px){
    .section-info{
        display: none;
    }
    .section-box{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .burger{
        display: block;
    }
    .section-case{
        display: flex;
    }
    .section-inforamtion{
        display: flex;
    }
}
@media(max-width:375px){
    .section-box{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .section-div{
        display: none;
    }

 .section-text{
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
 }




}
