


.about-box{
    height: 506px;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 17.69;
    align-items: center;
    justify-content: center;
    background: #F6F6F6;
}
.about-title{

    font-family: 'Gilroy-Bold';
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    
    /* Black */
    
    color: #070707;
}


.about-subtitle{
    font-family: 'Gilroy-Medium';
font-size: 18px;
line-height: 22px;
text-align: center;
width: 485px;
/* Black */

color: #070707;

}